In [ ]:
x={1,2,3,4,5}
print(type(x))

<class 'set'>
{1, 2, 3, 4, 5}

In [ ]:
y={1,2,3,4,5,5}  #duplicate not allowed
print(y)

{1, 2, 3, 4, 5}

In [ ]:
x={1,2,3,4,5,True}  #set are provaide same value for 1 and True
print(x)

{1, 2, 3, 4, 5}

In [ ]:
x={0,False,1,2,3,4,5}  #set are provaide same value for 0 and False
print(x)

{0, 1, 2, 3, 4, 5}

#set constructor

In [ ]:
x=[False,2,5,2,3,4]
print(set(x))

{False, 2, 3, 4, 5}

In [ ]:
y=(123,456)
print(set(y))

{456, 123}

In [ ]:
y=["123","234"]
print(set(y))

{'234', '123'}

In [ ]:
y=("hello","world")
print(set(y))

{'world', 'hello'}

#itrate with forloop

In [ ]:
z={1, 2, 3, 4, 5}
for i in z:
  print(i)

1
2
3
4
5

#add values

In [ ]:
y={1, 2, 3,4}
y.add(False)
print(y)

{False, 1, 2, 3, 4}

In [ ]:
z={1, 2, 3, 4, 5}
z.add("baby")
print(z)

{1, 2, 3, 4, 5, 'baby'}

##add many values

In [ ]:
i={1, 2, 3, 4, 5}
i.update([8,9,0])
print(i)

{0, 1, 2, 3, 4, 5, 8, 9}

In [ ]:
i={1, 2, 3, 4, 5}
i.update("hi","hello","baby")
print(i)

{1, 2, 3, 4, 5, 'b', 'i', 'y', 'o', 'a', 'h', 'l', 'e'}

In [ ]:
i={1, 2, 3, 4, 5}
i.update({7,8,9})
print(i)

{1, 2, 3, 4, 5, 7, 8, 9}

#remove set items

In [ ]:
i={1, 2, 3, 4, 5}  #remove set items
i.remove(3)
print(i)

{1, 2, 4, 5}

In [ ]:
i={1, 2, 3, 4, 5,"hello"}
i.remove("hello")
print(i)

{1, 2, 3, 4, 5}

##remove not raising error

In [ ]:
i={1, 2, 3, 4, 5}
i.discard(6)
print(i)

{1, 2, 3, 4, 5}

#join the sets

In [ ]:
i={1, 2, 3}  #join the sets
a={4,5,6}
print(i.union(a))

{1, 2, 3, 4, 5, 6}

In [ ]:
i={1, 2, 3}   #another join method by using | operstor we cant joining string, list,tuple
a={4,5,6}
z=i|a
print(z)

{1, 2, 3, 4, 5, 6}

In [ ]:
a={1, 2, 3}
b={4,5,6}
c={"hello"}
d={0,4,5}
print(a|b|c|d)

{0, 1, 2, 3, 4, 5, 6, 'hello'}

#commen elements print

In [ ]:
a={1,2,3}
b={3,4,5}
z=a.intersection(b)
print(z)

{3}

In [ ]:
a={1,2,3}
b={3,4,5}
c={7,8,9}
print(a&b&c)

set()

In [ ]:
a={1,2,3,"True"}  #commen elements identify by using & operstor we cant joining string, list,tuple
b={"True"}
print(a&b)

{'True'}

In [ ]:
a={1,2,3}
b=[3,4,5]
z=a.intersection(b)
print(z)

{3}

In [ ]:
a={1,2,3}
b=[3,4,5]
print(a&b)

#remove commen elements

In [ ]:
a={1,2,3}
b=[3,4,5]
z=a.difference(b)
print(z)

{1, 2}

In [ ]:
a={1,2,3}
b={3,4,5}
print(a-b)

{1, 2}

#remove duplicats

In [ ]:
a={1,2,3}
b=[3,4,5]
print(a.symmetric_difference(b))

{1, 2, 4, 5}

In [ ]:
a={1,2,3}
b={3,4,5}
print(a^b)

{1, 2, 4, 5}

In [ ]:
a={1,2}
b={3,4}
print(a^b)

{1, 2, 3, 4}

In [ ]:
a={1,2}
b={3,4}
print(b^a)

{1, 2, 3, 4}

In [ ]:
a={1,2}
b={3,4}
print(a^a)

set()

In [ ]:
a={1,2}
b={3,4}
print(a^a)

set()

#subset

In [ ]:
a={1,2}
b={1}
z=b.issubset(a)
print(z)

True

#superset

In [ ]:
a={1,2}
b={1}
z=a.issuperset(b)
print(z)

True

In [ ]:
a={1,2}
b={1}
z=a.issubset(b)
print(z)

False

#isdisjoint

In [ ]:
a={1,2}
b={3}
c=a.isdisjoint(b)
print(c)

True