tuple

In [ ]:
x=[1,2,3,4]      #tuple also represet by ( )
print(tuple(x))

(1, 2, 3, 4)

In [ ]:
l=(1,2)          #tuple compulsory for seperate this ,
print(type(l))

<class 'tuple'>

In [ ]:
x=("hello",1,2,3)     # , iclude " " so this string
print(type(x))

<class 'tuple'>

In [ ]:
x=(1,2,3,4)     #tuple slicing
print((x)[0::2])

(1, 3)

In [ ]:
z=(1,2,3,4)     #tuple specific range give use negative index
print((z)[-4:-1:2])

(1, 3)

In [ ]:
x=(1,2,3)       #check if items represent  in
print(3 in x)

True

In [ ]:
x=(1,2,3)
print(1 not in x)

False

In [ ]:
x=(1,2,3,4)     #tuple change a item
y=list(x)
y[1]=10
z=tuple(y)
print(z)

(1, 10, 3, 4)

In [ ]:
x=(1,2,3)       #add items for tuple
y=list(x)
y.append(4)
z=tuple(y)
print(z)

(1, 2, 3, 4)

In [ ]:
x=(1,2,3,4)    #itrat tuple in for loop
for x in range(1,5):
  print(x)

1
2
3
4

In [ ]:
i=(1,2,3,4,5)
for i in (i):
  print(i)

1
2
3
4
5

In [ ]:
x=(1,2,3)
y=(4,5,6)
print(x+y)

(1, 2, 3, 4, 5, 6)

In [ ]:
import random
x=random.randrange(1,10)
print(x)

5

In [ ]:
import random
y=random.randint(1,10)
print(y)

8

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
x=(100,200,300,400,500,600,700,800,9004+)
for i in range(0,700):
  if(500==(i)):
    print("yas")
    break
  else:
    print("no")
    break

no